Step 1: Read the csv file

In [1]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving movie_dataset.csv to movie_dataset.csv

In [5]:
import io
df=pd.read_csv(io.BytesIO(uploaded['movie_dataset.csv']))

In [6]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [7]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

Step 2: Select the features

In [12]:
df.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [40]:
for feature in features:
  df[feature]= df[feature].fillna('mode')

In [41]:
feature = ['keywords','cast','genres','director']

In [42]:
feature

['keywords', 'cast', 'genres', 'director']

Step:3 Create a column in df which combine all selected features.

In [43]:
def combined_features(row):
  return str(row['keywords'])+" "+str(row['cast'])+" "+str(row['genres'])+" "+str(row['director'])

df['combined_feature'] = df.apply(combined_features,axis=1)

In [44]:
print(df['combined_feature'].head())

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Dan...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_feature, dtype: object

In [46]:
df[feature].isnull().sum()

keywords    0
cast        0
genres      0
director    0
dtype: int64

Step 4: Create count matrix from new combined column

In [48]:
from sklearn.feature_extraction.text import CountVectorizer

In [49]:
cv = CountVectorizer()

In [51]:
count_matrix = cv.fit_transform(df['combined_feature'])

Calculate the cosine similarity based on count_matrix.

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
similarity = cosine_similarity(count_matrix)
movie_user_like = 'Avatar'

Step 6 : Get the index of the movie from its title

In [60]:
# helper function
def get_title (index):
  return df[df.index == index]['title'].values[0]

def get_index(title):
  return df[df.title == title]['index'].values[0]

In [61]:
movie_index = get_index(movie_user_like)

In [63]:
similar_movies = list(enumerate(similarity[movie_index]))

Step 7 : Get the list of similar movies.

In [65]:
sorted_similar_movies = sorted(similar_movies,key = lambda x:x[1],reverse=True)

Step 8 : Print the recommended movies.

In [73]:
i = 0
for movie in sorted_similar_movies:
  print (get_title(movie[0]))
  i+=1
  if i>5:
    break

Avatar
Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond

Here, I have recommend only 5 movies.